*{
    margin: 0;
    padding: 0;
}

main{
    max-width: 800px;
    min-width: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#target{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.8rem;
    font-size: 1rem;
    transition: visible 1s ease-in-out;
}

#target:focus{
    background-color: gray;
}

#cursor{
    position: absolute;
    width:3px;
    height:1.5rem;
    background-color: gray;
    opacity: 0.5;
    border-radius: 20%;
    top: 100px;
    left: 100px;
    transition: top 0.2s ease-in-out,left 0.2s ease-in-out;
}

.word{
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}